* {
  box-sizing: border-box;
}

.container {

  padding: 100px 0;
  font-family: sans-serif;

}

.feature-card {
  margin-bottom: 50px;
  padding: 0 10px;
  text-align: center;
  font-size: 14px;
}

.icon-wrapper {
  width: 60px;
  object-fit: cover;
  margin: 0 auto;
  
}

.header {
  margin: 20px 0 10px 0;
  text-transform: uppercase;
  font-weight: 700;
  color: #2d3033;
  overflow: hidden;
  max-height: 16px;
}

.text {
color: #6c7279;
}